.DS_Store

# RECURSIVE FILTER ALLOWING A SPECIFIC FILE TO BE TRACKED
node_modules/*
!node_modules/svelte-routing

node_modules/svelte-routing/*
!node_modules/svelte-routing/src

node_modules/svelte-routing/src/*
!node_modules/svelte-routing/src/Link.svelte

public/bundle.*
