/* html, body {
	position: relative;
	width: 100vw;
   height: 100vh;
}

body {
	color: #333;
   margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
} */


/* MY RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   font-family: 'Ubuntu', sans-serif;
}

/* CUSTOM SVELTE-ROUTER LINK STYLING */
a {
   display: flex;
   align-items: center;
   
   padding: 0.5rem;
   width: 75%;
   
   font-size: 1.25rem;
   font-weight: bolder;
   /* font-family: 'Ubuntu', sans-serif; */
   letter-spacing: 0.1rem;
   text-decoration: none;

   transition: transform 0.25s, color 0.25s;
   transform: translateX(0);
   color: var(--theme-primary);
}
a:hover {
   transform: translate(8px);
   color: var(--theme-accent);
}
a:focus {
   outline: none;
   background: var(--theme-primary-glass);
   border-radius: 5px;
}

@media (max-width: 1000px) {
   a {
      font-size: 1rem;
   }
}


/* GLOBAL THEME */
* {
   --theme-primary: #BC6985;
   --theme-primary-glass: rgba(188, 105, 133, 0.1);
   --theme-accent: #7AE7C7;
}
